* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#data-container {
  margin: auto;
  display: grid;
  padding: 40px 150px;
  width: 100%;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
}
.dictionary-icon {
  color: grey;
}
.side-icons {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr;
  margin-bottom: 20px;
  /* background-color: red; */
}
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font {
  display: flex;
  align-items: center;
  justify-content: center;
}
#font-selector {
  border: none;
  outline: none;
}

.drop-down {
  margin-top: 3px;
  padding: 0 15px;
  color: purple;
}
.white-light-icons {
  display: flex;
  justify-content: flex-end;
  padding-top: 3px;
  color: grey;
}

body {
  transition: all 0.3s ease-in-out;
  font-family: serif;
}
body.dark {
  background-color: black;
}
body.dark li {
  color: #ffffff;
}
body.dark ul {
  color: purple;
}
body.dark .noun-section h3 span {
  background-color: black;
  color: #fff;
}
body.dark .verb-section h3 span {
  background-color: black;
  color: #fff;
}
body.dark .search-section input {
  background-color: rgb(56, 56, 56);
  color: white;
}
body.dark .word {
  color: white;
}
body.dark .source {
  color: #fff;
}
body.dark .font {
  color: #fff;
}
body.dark .bar {
  color: grey;
}
body.dark #font-selector {
  background-color: black;
  color: #fff;
}
.toggle {
  padding: 0 20px;
  margin-right: 4px;
  position: relative;
  height: 18px;
  width: 19px;
  border-radius: 100px;
  background-color: grey;
  cursor: pointer;
}
.toggle::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  top: 10%;
  left: 3px;
  transition: all 0.3s ease-in-out;
}
.toggle.active::before {
  left: calc(50%);
}

.search-section {
  width: 100%;
}
.search-section input {
  padding: 15px 13px;
  width: 100%;
  position: relative;
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  color: black;
}
.search-section #search-btn {
  position: absolute;
  margin-left: -40px;
  margin-top: 14px;
  color: purple;
}
.word-sound-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
}
.word-section h1 {
  font-size: 28px;
}
.word-section .phonetics {
  color: purple;
}
.sound-section #sound {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: purple;
}
.sound-section #sound i {
  border-radius: 50%;
  background-color: rgb(216, 203, 216);
  padding: 18px;
}
.noun-section h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
}
.noun-section h3:after {
  content: "";
  display: block;
  height: 1px;
  width: 95%;
  position: absolute;
  background-color: rgb(217, 217, 217);
  right: 0;
  top: 20px;
  z-index: -2;
}
.noun-section h3 span {
  background: #fff;
}
.noun-section h4 {
  font-size: 16px;
  color: grey;
  font-weight: 300;
  padding: 10px 0;
}
.noun-section ul {
  padding-left: 50px;
}
.noun-section ul li {
  line-height: 25px;
}
.noun-section p {
  padding: 20px 0;
  color: grey;
}
.noun-section p .synonym {
  color: purple;
  font-weight: bold;
}
.verb-section {
  padding-bottom: 20px;
}
.verb-section h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
}
.verb-section h3:after {
  content: "";
  display: block;
  height: 1px;
  width: 95%;
  position: absolute;
  background-color: rgb(217, 217, 217);
  right: 0;
  top: 20px;
  z-index: -2;
}
.verb-section h3 span {
  background: #fff;
}
.verb-section h4 {
  font-size: 16px;
  color: grey;
  font-weight: 300;
  padding: 10px 0;
}
.verb-section ul {
  padding-left: 50px;
}
.verb-section ul li {
  line-height: 25px;
}
.source {
  padding: 15px 0;
}
.source span a {
  color: grey;
}
.respo {
  margin-top: 20px;
}
audio {
  display: none;
}

@media screen and (max-width: 281px) {
  #data-container {
    padding: 40px 30px;
  }
  .noun-section ul {
    padding-left: 25px;
  }
  .verb-section ul {
    padding-left: 25px;
  }
  .search-section {
    width: 100%;
  }
}

@media screen and (min-width: 280px) {
  #data-container {
    padding: 40px 30px;
  }
  .noun-section ul {
    padding-left: 25px;
  }
  .verb-section ul {
    padding-left: 25px;
  }
  .search-section {
    width: 100%;
  }
}

@media screen and (min-width: 475px) {
  #data-container {
    max-width: 475px;
    padding: 40px 30px;
  }
  .search-section {
    width: 100%;
  }
}

@media (min-width: 640px) {
  #data-container {
    max-width: 640px;
    padding: 40px 70px;
  }
  .search-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #data-container {
    max-width: 768px;
    padding: 40px 100px;
  }
  .search-section {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #data-container {
    max-width: 1024px;
  }
  .search-section {
    width: 100%;
  }
}
